{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Contrato - Detalles{% endblock %}

{% block content %}
<h1>Detalles del Contrato</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Campo</th>
        <th scope="col">Dato</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Id:</th>
        <td>{{ object.id }}</td>
      </tr>
      <tr>
        <th scope="row">Estado:</th>
        <td>{{ object.estado.title }}</td>
      </tr>
      <tr>
        <th scope="row">Contratante:</th>
        <td>{{ object.contratante }} (Usted)</td>
      </tr>
      <tr>
        <th scope="row">Contratado:</th>
        <td>{{ object.contratado }}</td>
      </tr>
      <tr>
        <th scope="row">Precio:</th>
        <td>{{ object.oferta.precio }}</td>
      </tr>
      <tr>
        <th scope="row">Fecha:</th>
        <td>{{ object.fecha_creacion }}</td>
      </tr>
    </tbody>
  </table>
  <a href="#" class="btn btn-success">Confirmar Contrato</a>
  <a href="#" class="btn btn-danger">Cancelar</a>
{% endblock %}
