{% extends 'base.html' %}
{% load static %}

{% block title %}A Domililio{% endblock %}

{% block content %}
<div class="news-cards">
    <div>
      <img src="{% static 'img/electricista.jpg' %}" alt="" />
    <!-- <h3>Electricista</h3> -->
      <a href="#">Electricista <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div>
      <img src="{% static 'img/albanil.jpg' %}" alt="" />
    <!--  <h3>Albañil</h3> -->
      <a href="#">Albañil <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div>
      <img src="{% static 'img/lavadero.jpg' %}" alt="" />
    <!--  <h3>Lavadero</h3> -->
      <a href="#">Lavadero <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div>
      <img src="{% static 'img/peluquero.jpg' %}" alt="" />
    <!--  <h3>Peluqueros/as</h3> -->
       <a href="#">Peluqueros/as <i class="fas fa-angle-double-right"></i></a>
    </div>
      <div>
        <img src="{% static 'img/artesanos.jpg' %}" alt="" />
    <!--  <h3>Artesanos</h3>  -->
      <a href="#">Artesanos <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div>
      <img src="{% static 'img/jardineria.jpg' %}" alt="" />
    <!--  <h3>Jardineria</h3> -->
      <a href="#">Jardinería <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div>
      <img src="{% static 'img/herreria.jpg' %}" alt="" />
    <!--  <h3>Herrería</h3> -->
      <a href="#">Herrería <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div>
      <img src="{% static 'img/plomeria.jpeg' %}" alt="" />
    <!--  <h3>Plomeria</h3>  -->
      <a href="#">Plomería <i class="fas fa-angle-double-right"></i></a>
    </div>
  </div>
{% endblock %}
