{% extends 'base.html' %}

{% block title %}Categoría - Lista{% endblock %}

{% block content %}
<h1>Categorías</h1>
<hr>

{% for categoria in object_list %}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ categoria.foto.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ categoria.nombre }}</h5>
      <p class="card-text">{{ categoria.descripcion }}</p>
      <a href="#" class="btn btn-primary">Ir a {{ categoria.nombre.upper }}</a>
    </div>
  </div>

{% endfor %}

{% endblock %}
