{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Cambio de contraseña{% endblock %}
 
{% block content %}
  {% if validlink %}
    <h3>Cambiar Contraseña</h3>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class="btn btn-primary">Cambiar Contraseña</button>
    </form>
  {% else %}
    <h3>Reinicio de contraseña fallido</h3>
    <p>
        El enlace de reinicialización de contraseña es inválido, posiblemente debido a que ya ha sido usado. 
        Por favor solicite una nueva reinicialización de contraseña.
    </p>
  {% endif %}
{% endblock %}
