{% load static %}

<!-- Navegación -->
<nav class="nav-main">
  <!-- Brand -->
  <img src="{% static 'img/canvas.png' %}" alt="Atucasa" class="nav-brand">
  <!-- Nav izquierda -->
  <ul class="nav-menu">
    <nav class="acceder">
      <li>
        <a id="login" href="{% url 'login' %}">Acceder</a>
        <div id="login-content">
          <form>
            <input id="user" type="email" name="email_log" placeholder="Usuario" required>   
            <input id="pass" type="password" name="password_log" placeholder="Contraseña" required>
            <input type="submit" id="submit" value="Iniciar Sesión">
          </form>
        </div>                     
      </li>
    </nav>     
        <li><i class="fa fa-user-plus" aria-hidden="true"></i><a href="ingresar.html">  Registrarse</a></li>
        <li><i class="fa fa-users" aria-hidden="true"></i><a href="https://wa.link/slpfqj">  Contacto</a></li>
        <li><i class="fa fa-question-circle" aria-hidden="true"></i><a href="#">  Ayuda</a></li>
     
  </ul>
  <!-- Barra navegadora derecha-->
  <ul class="nav-menu-right">
    <li>
      <a href="#">
        <i class="fas fa-search"></i>
      </a>
    </li>
  </ul>
</nav>
<hr>
