<html>
    <head></head>
    <body>
        
    
<form name='formPuntuar' id="formular" method="get" action="">
    <p class="clasificacion">
      <input id="radio1" type="radio" name="estrellas" value="5"><!--
      --><label for="radio1">★</label><!--
      --><input id="radio2" type="radio" name="estrellas" value="4"><!--
      --><label for="radio2">★</label><!--
      --><input id="radio3" type="radio" name="estrellas" value="3"><!--
      --><label for="radio3">★</label><!--
      --><input id="radio4" type="radio" name="estrellas" value="2"><!--
      --><label for="radio4">★</label><!--
      --><input id="radio5" type="radio" name="estrellas" value="1"><!--
      --><label for="radio5">★</label>
    </p>
  </form>
  <style>
      #form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
</style>
<script>
    function enviar_puntaje() {
        document.formPuntuar.submit()
        console.log(document.formpuntaje.value)
    }
    function cargar() {
        let formulario = document.getElementById('formular');
        formulario.addEventListener('click', enviar_puntaje, false);
    }
    document.addEventListener('DOMContentLoaded', cargar, false);
    
</script>
</body>
</html>